@use '../../variables' as var;
@use '../../modules' as mod;
.p-home{
	&__kv{
		background: var.$color_text;
		position: relative;
		@include mod.mq('lg'){
			max-width: 375px;
			margin: 0 auto;
		}
	}
	&Kv{
		&__img{
			aspect-ratio: 375 / 401;
			position: relative;
			z-index: 1;
			img{
				width: 100%;
				display: block;
			}
		}
		&__detail{
			padding: 35px 0;
			position: relative;
			z-index: 1;
		}
		&__heading{
			margin: 0 auto 15px;
			text-align: center;
		}
		&__place{
			text-align: center;
		}
	}
}

.p-home{
	&__about{
		background: var.$color_bg_01;
		padding: 30px 0 60px;
		position: relative;
		overflow: hidden;
		@include mod.mq('lg'){
			max-width: 375px;
			margin: 0 auto;
		}
		&:before{
			background: transparent url(../img/home/bg_01.svg) no-repeat center;
			background-size: contain;
			content: '';
			width: 702px;
			height: 428px;
			position: absolute;
			top: -195px;
			left: calc(50% - 15px);
			transform: translateX(-50%);
			pointer-events: none;
		}
		&:after{
			background: transparent url(../img/home/bg_02.svg) no-repeat center;
			background-size: contain;
			content: '';
			width: 597px;
			height: 458px;
			position: absolute;
			bottom: -305px;
			left: calc(50% + 60px);
			transform: translateX(-50%);
			pointer-events: none;
		}
	}
	&About{
		&__paragraph{
			margin-bottom: 25px;
			font-size: 16px;
			font-weight: 900;
			line-height: calc(30 / 16);
		}
		&__detail{
			&List{
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				gap: 20px;
				margin-bottom: 35px;
			}
			&Item{
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				gap: 5px;
			}
			&Title{
				font-size: 16px;
				font-weight: 900;
			}
			&Paragraph{
				font-size: 16px;
				font-weight: 500;
				line-height: calc(28 / 16);
			}
		}
	}
}

.p-home{
	&__copyright{
		padding: 60px 0;
		position: relative;
		overflow: hidden;
		text-align: center;
		@include mod.mq('lg'){
			border-right: 20px solid var.$color_bg_01;
			border-left: 20px solid var.$color_bg_01;
			padding: 60px 0 140px;
		}
		&:before{
			background: transparent url(../img/home/bg_04-sp.svg) no-repeat center;
			background-size: contain;
			content: '';
			width: mod.pxtop(790, 375);
			aspect-ratio: 790 / 778;
			position: absolute;
			right: -340px;
			top: -255px;
			@include mod.mq('lg'){
				background: transparent url(../img/home/bg_04-pc.svg) no-repeat center;
				background-size: contain;
				width: mod.pxtop(1087, 1280);
				aspect-ratio: 1087 / 1070;
				right: -390px;
				top: -300px;
			}
		}
		&:after{
			@include mod.mq('lg'){
				background: var.$color_bg_01;
				content: '';
				width: 20px;
				height: 100%;
				position: absolute;
				bottom: 0;
				right: -20px;
			}
		}
	}
}
