.l-ticket.-blue
	dl.l-ticket__box
		dt.l-ticket__title
			| ガルクラ展オリジナルステンレスボード付きチケット（数量限定）
		dd.l-ticket__detail
			.l-ticketDetail__inner
				img.l-ticketDetail__innerImg(src=imgPath+'home/img_steelboard.png', alt='ガルクラ展オリジナルステンレスボード')
				dl.l-ticketDetail__list
					.l-ticketDetail__listItem
						dt.l-ticketDetail__listTitle
							| 特別先行受付(抽選)期間
						dd.l-ticketDetail__listContent
							p.l-ticketDetail__listParagraph
								| 2025年1月29日(水)10:00～2月9日(日)23:59
					.l-ticketDetail__listItem
						dt.l-ticketDetail__listTitle
							| チケット料金
						dd.l-ticketDetail__listContent
							p.l-ticketDetail__listParagraph
								| 販売価格：13,500円(税込)
								br
								| 特典：ガルクラ展オリジナルステンレスボード
								br
								| サイズは約30㎝×30㎝！
					.l-ticketDetail__listItem
						dt.l-ticketDetail__listTitle
							| 枚数制限
						dd.l-ticketDetail__listContent
							p.l-ticketDetail__listParagraph
								| 1名様につき1回4枚まで
					.l-ticketDetail__listItem
						dt.l-ticketDetail__listTitle
							| 当落発表
						dd.l-ticketDetail__listContent
							p.l-ticketDetail__listParagraph
								| 2025年2月14日(金)18:00
			.l-ticketDetail__btn
				button.c-btn.-primary.js-request-button.-disabled(data-category="steelboard")
					span.c-btn__text
						| エントリーはこちら
					span.c-btn__icon.-arrow.-external
