.l-ticket.-green
	dl.l-ticket__box
		dt.l-ticket__title
			| トークショー付きチケット
			br.c-br.-sp
			| （数量限定）
		dd.l-ticket__detail
			dl.l-ticketDetail__list
				.l-ticketDetail__listItem
					dt.l-ticketDetail__listTitle
						| 特別先行受付(抽選)期間
					dd.l-ticketDetail__listContent
						p.l-ticketDetail__listParagraph
							| 2025年1月29日(水)10:00～2月9日(日)23:59
				.l-ticketDetail__listItem
					dt.l-ticketDetail__listTitle
						| チケット料金
					dd.l-ticketDetail__listContent
						p.l-ticketDetail__listParagraph
							| 販売価格：6,000円(税込)
							br
							| 特典：トークショー入場券＋氏名入りオリジナルチケット
						p.l-ticketDetail__listParagraph
							| トークショー開催日程：4月15日(火)・16日(水)・17日(木)
							br
							| 本チケットの展示会場入場券は、以下の日時でも利用可能です。
							br
							| 利用可能日：4月10日(木)・11日(金)・14日(月)～18日(金)
				.l-ticketDetail__listItem
					dt.l-ticketDetail__listTitle
						| 枚数制限
					dd.l-ticketDetail__listContent
						p.l-ticketDetail__listParagraph
							| 1名様につき1回4枚まで
				.l-ticketDetail__listItem
					dt.l-ticketDetail__listTitle
						| 当落発表
					dd.l-ticketDetail__listContent
						p.l-ticketDetail__listParagraph
							| 2025年2月14日(金)18:00
			.l-ticketDetail__btn
				button.c-btn.-primary.js-request-button.-disabled(data-category="0004")
					span.c-btn__text
						| エントリーはこちら
					span.c-btn__icon.-arrow.-external
