.l-ticket.-yellow
	dl.l-ticket__box
		dt.l-ticket__title
			| 通常チケット
		dd.l-ticket__detail
			dl.l-ticketDetail__list
				.l-ticketDetail__listItem
					dt.l-ticketDetail__listTitle
						| 一般チケット販売期間
					dd.l-ticketDetail__listContent
						p.l-ticketDetail__listParagraph
							| 一般発売／前売券：2025年3月9日(日)10:00～2025年4月8日(火)23:59
							br
							| 一般発売／当日券：2025年4月9日(水)0:00～
				.l-ticketDetail__listItem
					dt.l-ticketDetail__listTitle
						| チケット料金
					dd.l-ticketDetail__listContent
						p.l-ticketDetail__listParagraph
							| 大人（中学生以上）：前売り券2,500円(税込)／当日券2,800円(税込)
							br
							| 子ども（小学生以下）：無料　※大人1名につき2名まで
				.l-ticketDetail__listItem
					dt.l-ticketDetail__listTitle
						| 枚数制限
					dd.l-ticketDetail__listContent
						p.l-ticketDetail__listParagraph
							| 1名様につき1回4枚まで
			.l-ticketDetail__btn
				a.c-btn.-primary(href='https://vwr.ssw.web.docomo.ne.jp/waiting-room2/favpark/ssw_waiting_room.html', target='_blank')
					span.c-btn__text
						| 前売券のエントリーはこちら
					span.c-btn__icon.-arrow.-external
				a.c-btn.-primary.-disabled(href='#', target='_blank')
					span.c-btn__text
						| 当日券のエントリーはこちら
					span.c-btn__icon.-arrow.-external
