$color_black_01: #121212 !default;

$color_white_01: #FFFFFF !default;

$color_gray_01: #D1D1D1 !default;

$color_yellow_01: #FFF24B !default;
$color_yellow_02: #FFF34A !default;

$color_green_01: #54C323 !default;
$color_green_02: #53C223 !default;

$color_blue_01: #6DCCDD !default;
$color_blue_02: #6ECCDE !default;

$color_pink_01: #FF7CB2 !default;
$color_pink_02: #FF7CB3 !default;

$color_red_01: #E00201 !default;

$color_bg_01: $color_white_01;

$color_text: $color_black_01;

$color_primary: $color_red_01;

$color_disabled: $color_gray_01;
